@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base {

/********** */
/* Globals */
/******** */

/* Container that's always visible on the background. */
.container_full_background {
  background: linear-gradient(10deg, rgba(161, 217, 180, 0.8) 20%, rgba(50, 152, 138, 0.8) 40%, rgba(0, 14, 60, 1) 65%) fixed;
  @apply
    bg-black /* black background */
    w-full /* full width */
    h-screen /* h-screen full height */
    flex-col /* flex direction column */
    overflow-auto /* hide overflow */
    relative /* position relative */
    z-10 /* z-index of 10.*/
  ;
}

/* The aurora borealis background effect. */
.auroral_background {
  position: relative; /* position absolute */
  overflow: hidden; /* hide overflow */
  /* left: -50%; left of -50% */
  /* top: -50%; top of -50% */
  width: 100%; /* width of 200% */
  height: 200%; /* height of 200% */
  /* animation-name: northern; animation name. Animation is defined below in @keyframes */
  /* animation-duration: 10s; animation duration of 10s. This will make sure the animation takes 10 seconds */
  /* animation-timing-function: linear; animation timing function linear. This will make sure the animation goes at a constant speed */
  /* animation-iteration-count: infinite; animation iteration count infinite. This will make sure the animation keeps going */
  /* animation-direction: alternate; animation direction alternate. This will make sure the animation goes back and forth */
  z-index: -1; /* z-index of -1. This will make sure the background is always behind the content */
  background: linear-gradient(10deg, rgba(161, 217, 180, 0.8) 20%, rgba(50, 152, 138, 0.8) 40%, rgba(0, 14, 60, 1) 65%);
}

/* The animation of the aurora borealis background effect. */
@keyframes northern {
  0% {
    transform: translate(5%, -2%);
  }

  25% {
    transform: translate(10%, 7%);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: translate(7%, -2%);
  }

  85% {
    transform: translate(6%, 3%) rotate(12deg);
  }

  100% {
    transform: none;
  }
}

/* Overlay container full width and height.
Color of this container is transparant */
.container_full_centered {
    @apply
      flex /* flex */
      flex-col /* flex direction column */
      items-center /* center items horizontally */
      content-start /* align items to the top */
      h-screen /* full height */
      min-h-[300px] /* minimum height of 300px */
      w-screen /* full width */
      bg-transparent /* transparent background */
    ;
  }

  /************* */
  /**** Chat ****/
  /*********** */

  /* the outer container that holds the content on the chat page */
  .chat_grid {
    @apply
      grid /* grid */
      grid-cols-1 /* 1 column */
      content-start /* align items to the top */
      items-start /* align items to the bottom */
      w-full /* full width */
      max-w-[600px] /* maximum width of 600px */
      h-3/5 /* height of 60% */
      min-h-[500px] /* minimum height of 500px */
      border-0 /* no border */
      shadow-none /* no shadow */
      rounded-lg /* rounded corners */
    ;
  }

  .chat_messagebox {
    @apply
      w-full /* full width */
      overflow-y-auto /* overflow on y-axis. This will make sure that the chat box can scroll */
    ;
  }

  /******************* */
  /* Dashboard / Home */
  /***************** */

  /* the outer container that holds the content on the dashboard page */
  .dashboard_grid {
    @apply
      grid /* grid */
      md:grid-cols-1 /* 1 column on smartphone ( < 768px width ) */
      lg:grid-cols-2 /* 2 column on tablet ( > 768px width ) */
      /* lg:grid-cols-3 3 columns on desktop ( > 1024px width ) */
      gap-4 /* gap between columns */
      w-full /* full width */
      max-w-[1200px] /* maximum width of 1200px */
      px-5 /* padding left and right of 20px */
      py-14 /* padding top and bottom of 56px */
    ;
  }

  /* a single block on the dashboard page */
  .dashboard_block {
    @apply
      p-0 /* padding of 0px */
      bg-black/20/* white background */
      rounded-lg /* rounded corners */
    ;
  }

  /******************** */
  /* Debugging classes */
  /****************** */

  .debug_red {
    @apply
      border-2 /* border of 2px */
    border-red-600 /* red border */
  }
  .debug_green {
    @apply
      border-2 /* border of 2px */
    border-green-600 /* red border */
  }
  .debug_blue {
    @apply
      border-2 /* border of 2px */
    border-blue-600 /* red border */
  }

}
